/* Reset default margin and padding */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Set up font */
html {
    font-family: 'Roboto', 'Italia', sans-serif;
    text-align: center;
}

/* Header styles */
.header {
    background-color: #FFD700;
    padding: 10px 20px; /* Adjust padding as needed */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 1.8rem;
    color: #000000;
    font-family: 'Roboto', 'Italia', sans-serif;
    margin: 0;
}

/* Logo styles */
.logo {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logo-img {
    max-width: 100px; /* Adjust the maximum width as needed */
    height: auto;
}

/* Content styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.content {
    padding: 50px;
}

.card-grid {
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 30px;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.card {
    background-color: white;
    box-shadow: 2px 2px 12px 1px rgba(140, 140, 140, 0.5);
    border-radius: 15px;
    padding: 15px;
    margin: 10px;
}

button {
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.onButton {
    background-color: #1b8a94;
}

.offButton {
    background-color: #5f6c6d;
}

.connectButton {
    background-color: #24af37;
}

.disconnectButton {
    background-color: #d13a30;
}

.checkButton {
    background-color: #9caf24;
    /* Add any other necessary styling for the check button */
    /* Ensure it complements your existing design */
}

.gray-label {
    color: #bebebe;
    font-size: 1rem;
}

.reading {
    font-size: 1.8rem;
}

/* For mobile devices, ensure content is centered */
@media (max-width: 767px) {
    .card-grid {
        grid-template-columns: 1fr; /* Set a single column layout for smaller screens */
    }
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
